<header>
  <div class="inner-header">
    <%= link_to "ash's smokin' tong!", root_path, class: "logo" %>
    <nav>
        <ul>
        <li>
            <%= link_to "example 1", root_path %>
        </li>
        <li>
            <%= link_to "example 2", root_path %>
        </li>
        <li>
            <%= link_to "example 3", root_path %>
        </li>
        <li>
            <%= link_to "Sign up", sign_up_path %>
        </li>
        </ul>
    </nav>
  </div>
</header>