<h1>Edit password</h1>

<%= image_tag "biltong_hooks", class: "sign-up-img" %>
<%= form_with model: Current.user, url: edit_password_path, class: "sign-form" do |form| %>
  <%= render "shared/form_errors", form: form %>
  <div class="form-group">
    <%= form.label :password %>
    <%= form.password_field :password, placeholder: "Must be 5 characters or more.", class: "form-field" %>
  </div>
  <div class="form-group">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, placeholder: "Password and password confirmation must match.", class: "form-field" %>
  </div>
  <div>
    <%= form.submit "Update", class: "button" %>
  </div>
<% end %>