<h1>Tongs</h1>

<% @products.each do |product| %>
  <div class="tong-group">
    <%= image_tag product.image, class: "tong-image" %>
    <div class="tong-info">
      <p><%= product.name %></p>
      <p>Quantity available: <%= product.quantity %></p>
      <p> Price per 100gm: <%= number_to_currency(product.price, { unit: "£" }) %></p>
    </div>
    <div style="margin-left: 30px;">
      <%= link_to "Order", order_tong_path(product), class: "button" %>
    </div>
  </div>
<% end %>